* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  background: rgb(11,11,11);
  background: linear-gradient( to top right, rgba(11,11,11,0.8183648459383753) 7%, rgba(224,230,39,0.6558998599439776) 52%, rgba(12,144,171,0.7063200280112045) 87%);
  background-repeat: no-repeat;
 background-size: 100vw 100vh;
 background-attachment: fixed;
  color: #212121;
  line-height: 1.5;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#search-box {
  position: relative;
  top: 0;
  left: 2vw;

  padding: 8px 20px;
  width: 37vw;
  margin-bottom: 16px;
  background: rgb(11,11,11);
  background: linear-gradient( to top right, rgba(11, 11, 11, 0.153) 7%, rgba(224,230,39,0.6558998599439776) 52%, rgba(12,144,171,0.7063200280112045) 87%);
  border-radius: 4px;
  border: none;
  box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.75);
  transition: scale, box-shadow 300ms cubic-bezier(1,.37,.71,.79);
  }

#search-box:focus {
  transform: scale(1.1);
  outline:indianred ;
  box-shadow: 0px 0px 6px 2px rgba(255,255,255,0.75);
  -webkit-box-shadow: 0px 0px 6px 2px rgba(255,255,255,0.75);
  -moz-box-shadow: 0px 0px 6px 2px rgba(255,255,255,0.75);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
  font-size: 21px;
  color: #000000;
 }


 .country-item {
display:flex;
flex-wrap: nowrap;
  font-weight: 700;
  font-size: 25px;
  text-shadow: 1px 1px 2px rgba(255,255,255,0.8);
 }

 .country-item + .country-item {
margin-top: 10px;
 } 
 
 .country-icon {
  display: block;
  margin-right: 10px;
  border-radius: 4px;
  box-shadow: 0px 0px 6px 2px rgba(255,255,255,0.75);
  -webkit-box-shadow: 0px 0px 6px 2px rgba(255,255,255,0.75);
  -moz-box-shadow: 0px 0px 6px 2px rgba(255,255,255,0.75);
 }


 .country-title {
  font-size: 45px;
  text-shadow: 1px 1px 2px rgba(255,255,255,0.8);
 }

 .country-description-item {
  font-weight: 700;
  font-size: 18px;
  text-shadow: 1px 1px 2px rgba(255,255,255,0.8);
 }